
<div class="country conteiner">
    <h2 class="country__name">{{[0].name}}</h2>
    <div class="flex">
        <div><p class="country__titles">Capital:<span class="valueOfEveryTitles">{{[0].capital}}</span></p>
             <p class="country__titles">Population:<span class="valueOfEveryTitles">{{[0].population}}</span></p>
             <ul class="country__languagesList">Languages:
               {{#each [0].languages}}
                    <li class="country__languageItem">{{name}}</li> 
               {{/each}}
             </ul>
        </div>
        <div class="country__flag">
            <img src="{{[0].flag}}" alt="{{[0].name}}" class="country__flag--img">
        </div>
    </div>
</div>

